html,
body {
    height: 100%;
}

html {
    background: url(../image/me_pencil_sketch.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.overlay {
    background: url(../image/pattern.png);
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

#content {
    padding-bottom: 100px;
    /* Height of the footer element */
}


.hidden {
    display: none;
}

footer {
    border-top: 1px solid white;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a:visited,
footer a:link {
  color: white;
}

/* linkedin */
footer #linkedin a:hover {
  color: #069;
}

/* twitter */
footer #twitter a:hover {
  color: #55acee;
}

/* github */
footer #github a:hover {
  /*color: #4078c0;*/
  color: rgb(85, 26, 139);
}


footer ul {
    color: white;
    line-height: 100px;
    /* height of parent */
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer li {
    display: table-cell;
    text-align: center;
}

footer .social_text {
    display: none;
}

@media screen and (max-width: 324px) {
    .glyphicon {
        font-size: 1em;
    }
    #resume,
    #reachMe {
        display: none;
    }
}

@media screen and (min-width: 325px) and (max-width: 799px) {
    .glyphicon {
        font-size: 1.5em;
    }
    #resume {
        display: none;
    }
    #reachMe {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .glyphicon {
        font-size: 2em;
    }
    #resume {
        display: block;
    }
}
